

:root{
    --bg-color :#1f242d ;
    --bg-color2 :#323946 ;
    --text-color :#fff ;
    --main-color :#0ef;
}
body{
    background-color: var(--bg-color);

}
section{
    min-height: 100vh;
    padding: 7rem 9% 2rem;
}

a .active {
    color: #0ef;
    text-decoration: underline;
    
}

header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    width: 100%;
    height: 105px;
    border-bottom:3px solid rgb(182, 178, 233) ;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow:  0 0 1rem var(--main-color);
    z-index: 100;
    
}

header h1 {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-color);
}
header h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;

}

h4 ,h2 ,h3{
    position: relative;
    color: var(--text-color);
}

h4::before ,h2::before ,h3::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--bg-color);
    animation: showRight 2.3s ease forwards;
    
}
h4{
    font-size: 1.7rem;
}
h3{
    font-size: 2.6rem;
}
h2{
    font-size: 1.7rem;
}


.nav-bar-items{
    position: absolute;
    display: flex;
    right: 0%;
    margin : 35px  ;
    gap: 40px;
    
    color: var(--text-color);
    
}
.nav-bar-items a{
    text-decoration: none;
    font-size: 16px; 
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
    

}
.nav-bar-items a:hover{ 
     color: var(--main-color);
    text-decoration: underline;
    
}

.nav-bar-items a.active{ 
    color: var(--main-color);
   text-decoration: underline;
   
}

main{
   
   position: absolute;
   margin-top: 130px;
}

.home{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


#about{
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 130px;
    background-color:var(--bg-color2);
    width: auto;
    height: 630px;
    
}

.home .introduce{
    
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: "Poppins" sans-serif;


}

.home .desc{
    margin-left: 23%;
}
button{
    position: relative;
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    background:transparent;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 5px;
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;

}
button::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

button:hover::before{
    width: 100%;
}

.home .media a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 35px;
    font-size: 20px;
    margin: 8px;
    border: 1px solid  var(--main-color);
    box-shadow: 4px 4px 10px #0ef;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    
    
}

.home  a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background-color: var(--main-color);
    
    
}

.media a:hover::before{
    width: 100%;
    
    
    
}
.home .desc .media{
    position: relative;
    
}




.passion {
    font-size: 15px;

    color: var(--main-color);

}
.home .picture img {
    position: absolute;
    margin-bottom: 150px;
    right: 70px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 480px;
    border-radius: 50%;
    transition: 0.8s;
}


.home .picture img:hover {
    opacity: 0.5;
}


#about .presentation h1{
    color: var(--main-color);

}

#about .presentation .me{
    margin-right: 25px;
    color: var(--text-color);
    
}

#about .presentation {
    margin-top: 230px;
    
}
#about .picture img {
    position: relative;
    margin-top: 160px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


#project{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
}

#project  .block{
    
    margin-left: 80px;
    position: relative;
    text-align: center;
    width: 240px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: #0ef;
    overflow: hidden;
    z-index: 1;
    
}

#project .text-contains{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    text-align: center;
    background: linear-gradient(rgb(0,0,0), #0ef);
    transform: translateY(-100%);
    transition: .7s;
    z-index: -1;
    opacity: 0.7;
    
}

#project .block:hover .text-contains{
    transform: translateY(0);
}

/*pour le premier bloc*/
#project .block:nth-of-type(1) {
    background-image: url('assert/block1.jpg');
}

#project .block:nth-of-type(2) {
    background-image: url('assert/block2.png');
}

#project .block:nth-of-type(3) {
    background-image: url('assert/block3.jpg');
}
#project .block:nth-of-type(4) {
    background-image: url('assert/block3.jpg');
}
#project .block:nth-of-type(5) {
    background-image: url('assert/block3.jpg');
}
#project .block:nth-of-type(6) {
    background-image: url('assert/block3.jpg');
}



#skills {
   
    position: relative;
}
#skills  .block{
    
    margin-left: 60px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    
    margin: 40px 40px 40px 40px;
    width: 70%;
    height: 15px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: #0ef;
    
}

#skills .lab{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-right: 5px ;

}




.skills-contains{
    display: flex;
    flex-direction:row;
}

.skills-contains .lab {
    margin-top: 45px;
    margin-left: 20px;

}


/*DEBUT FORMULAIRE*/

form {
    
}

.container {

    position: relative;
    width: 80%;
    height: 500px;
    border: 2px solid #9999;
    border-radius: 20px;
    box-shadow: 10px 10px 14px 6px #0ef;
    padding-left: 250px;
    
    
}

.container h1 {
    position: relative;
    margin-left: 170px;
    color: var(--text-color);
}

.formbox {
    position: relative;
    margin: 5%;

}

label {
    position: absolute;
    bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    left: 0;
    font-size: 25px;
    color: #bbb;
}

input {

    width: 50%;
    padding: 10px;
    border: none;
    border-bottom: 4px solid #0ef;
    bottom: 0;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(6, 48, 51);
}



input:focus +label {
    position: absolute;
    color: #0ef;
    bottom: 70%;
}

.container .btn {
    position:relative;
    width: 25%;
    height: 40px;
    text-align: center;
    
    border: 2px solid #fff;
    border-radius: 20px;
    bottom: 10px;
    left: 18%;
    background: transparent;
    box-shadow: 0 0px 10px #0ef;
    background-size: 800%;
    transition: background-color 1s;

}
.container .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .6s;

}

.container .btn:hover::before{
    width: 100%;
}



@media (max-width: 580px) {
    h1 {
        font-size: 1rem;
    }

    input {
        width: 80%;
    }

    button {
        width: 80%;
    }

    .container {

        
        width: 100%;
        left: 0;
        top: 0;


    }
}

/*fin formulaire */
 

/*KEYfRAMES */

@keyframes showRight{
    100%{
        width: 0;
    }
}